{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
    },
    "plugins": ["pettier", "svelte3"],
    "extends": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}